<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuzhou.server.mapper.AdminShowMapper">

    <select id="pageQuery" resultType="com.fuzhou.pojo.vo.AdminShowVO">
        SELECT
            s.id,
            s.title,
            s.sort_id as sortId,
            so.name as sortName,
            s.province,
            s.city,
            s.district,
            s.venue_name as venueName,
            s.detail_address as detailAddress,
            s.full_address as fullAddress,
            s.image,
            (SELECT MIN(se.price) FROM sessions se WHERE se.show_id = s.id AND se.price IS NOT NULL AND se.price > 0) AS price
        FROM `show` s
        LEFT JOIN `sort` so ON s.sort_id = so.id
        <where>
            <if test="title != null and title != ''">
                AND s.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="city != null and city != ''">
                AND s.city = #{city}
            </if>
            <if test="sortId != null">
                AND s.sort_id = #{sortId}
            </if>
            <if test="venueName != null and venueName != ''">
                AND s.venue_name LIKE CONCAT('%', #{venueName}, '%')
            </if>
        </where>
        ORDER BY s.id DESC
    </select>

    <select id="getById" resultType="com.fuzhou.pojo.vo.AdminShowVO">
        SELECT
            s.id,
            s.title,
            s.sort_id as sortId,
            so.name as sortName,
            s.province,
            s.city,
            s.district,
            s.venue_name as venueName,
            s.detail_address as detailAddress,
            s.full_address as fullAddress,
            s.image,
            MIN(CASE WHEN sess.price IS NOT NULL AND sess.price > 0 THEN sess.price END) as price,
            COALESCE(SUM(sess.stock), 0) as stock,
            COALESCE(SUM(sess.total_stock), 0) as totalStock
        FROM `show` s
        LEFT JOIN sessions sess ON s.id = sess.show_id
        LEFT JOIN `sort` so ON s.sort_id = so.id
        WHERE s.id = #{id}
        GROUP BY s.id
    </select>

    <insert id="insert" parameterType="com.fuzhou.pojo.entity.Show" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `show` (
            title,
            sort_id,
            province,
            city,
            district,
            venue_name,
            detail_address,
            full_address,
            image
        ) VALUES (
            #{title},
            #{sortId},
            #{province},
            #{city},
            #{district},
            #{venueName},
            #{detailAddress},
            #{fullAddress},
            #{image}
        )
    </insert>

    <update id="update" parameterType="com.fuzhou.pojo.entity.Show">
        UPDATE `show`
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="sortId != null">
                sort_id = #{sortId},
            </if>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="district != null and district != ''">
                district = #{district},
            </if>
            <if test="venueName != null and venueName != ''">
                venue_name = #{venueName},
            </if>
            <if test="detailAddress != null and detailAddress != ''">
                detail_address = #{detailAddress},
            </if>
            <if test="fullAddress != null and fullAddress != ''">
                full_address = #{fullAddress},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM `show`
        WHERE id = #{id}
    </delete>

</mapper>

