<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuzhou.server.mapper.UserLoginMapper">


    <insert id="register">
        insert into user (id,name, account, password, email, create_time)
        values (#{id},#{name}, #{account}, #{password}, #{email}, #{createTime})
    </insert>
    <insert id="addCode">
           --         如果传进来的变量值是null，则不插入
         insert into code(code, email, expire_time) values(#{code}, #{email}, #{time})
    </insert>
    <update id="changeUsed">
        update code set used = 1 where id = #{id}
    </update>
    <select id="verify" resultType="com.fuzhou.pojo.entity.Code">
        select email, code, expire_time, used, id from code
        <where>
            <!-- 原邮箱条件 -->
            <if test="email != null and email != ''">
                and email = #{email}
            </if>
            <!-- 新增：未过期（expire_time 大于当前时间） -->
            and expire_time > NOW()
            <!-- 新增：未使用（used = 0） -->
            and used = 0
        </where>
        <!-- 优化排序格式：ORDER BY 和 DESC 同一行，避免语法歧义 -->
        ORDER BY expire_time DESC
        LIMIT 1
    </select>
    <select id="passwordLogin" resultType="com.fuzhou.pojo.vo.UserLoginVO">
        select password, id ,account, status , name from user where account = #{account}
    </select>
    <select id="getUserId" resultType="java.lang.Long">
        SELECT id FROM user WHERE email = #{email}
    </select>
    <select id="selectUserById" resultType="com.fuzhou.pojo.entity.User">
        SELECT id, name, account, email, status, create_time, image
        FROM user
        WHERE id = #{userId}
    </select>
    <select id="getUser" resultType="com.fuzhou.pojo.vo.UserLoginVO">
        select id ,account, status , name from user where email = #{email}
    </select>
    <select id="repeat" resultType="java.lang.Boolean">
        select exists(select 1 from user where account = #{account})
    </select>
    <select id="AdminLogin" resultType="com.fuzhou.pojo.vo.UserLoginVO">
        <!-- status = 3 表示管理员账号 -->
        select password, id ,account, status , name
        from user
        where account = #{account} and status = 3;
    </select>


</mapper>
